.one
{
    color: brown;
    text-align: center;
}
em 
{
    color: rosybrown;
}


.img-side{
    border-right: .1rem solid #901b20;
    /* height: 3.2rem; */
    margin-top: .8rem;
    margin-right: 0.8rem;
    
}
.head 
{
    display: flex;
    margin-left: 1rem;

}
.head p
{
    color: gray;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home
{
    width: 100%;
   
}
.home img
{
    width: 100%;
    height: 96vh;
}
nav ul {
    display:flex;
    list-style: none;
}
nav ul li a
{
    margin:0px 10px;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}
nav{
    background-color: rgb(38, 52, 52);
    /* padding: 15px; */
    display: flex; 
    justify-content: space-between;
    
}
nav ul li a:hover
{
border: 1px solid red;
/* padding: 5px; */
background-color: red;
}
.info
{
    display: flex;

}
.info .right
{
    
    width: 50%;
    padding: 10px;
}
.info .left
{
  
    width: 50%;
    padding: 10px;
}